mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
  
  .spacer {
    flex: 1;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none; 
    color: inherit; 
    margin: 0; 
    padding: 0; 
    font-size: inherit;
    font-weight: inherit;
    background: none; 
    border: none; 
  }
  
  