.product-card {
    max-width: 400px;
    margin: 20px auto;
  }
  
  .product-header-image {
    background-image: url('https://via.placeholder.com/40');
    background-size: cover;
  }
  
  mat-card-title {
    font-weight: bold;
  }
  
  mat-card-content p {
    margin: 0;
  }
  